/*Import link for the Josefin Slab font 
  from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
 
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*NAVBAR*/
.nav-bar{
    position: sticky;
    top: 0;
    z-index: 9;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: -8px -8px 0px -8px;
    background-color: rgb(1, 128, 106);
    border-bottom: 5px solid rgb(247, 177, 188);
}

a{
    display: block;
    font-family: "Josefin Slab", serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    width: 100px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

a:hover, .drop:hover a:only-of-type{
    background-color: rgb(149, 238, 223);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;
}

.rollover-menu{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop:hover .rollover-menu{
    display: block;
}

.rollover-menu a{
    color: rgb(0, 80, 67);
}

.rollover-menu a:hover{
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);
}

.rollover-menu a:nth-child(1){
    border-top: 5px solid rgb(238, 118, 136);
}

/*FOOTER*/

footer{
    align-items: center;
    margin: 0px -8px -8px -8px;
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0;
}

table{
    width: 100%;
}

td{
    width: 33%;
}

td p{
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(247, 177, 188);
}


/* ABOUT SECTION */
#about {
    scroll-margin-top: 70px;
    padding: 50px;
    background-color: white;
    text-align: center;
}

#about h2 {
    font-family: "Josefin Slab", serif;
    font-size: 35px;
    color: rgb(1, 128, 106);
}

#about p {
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 80, 67);
    line-height: 1.5;
}
